<div class="form">
  <div class="container form-fields">

    <h2 class="text-center">Sign Up</h2>

    <form [formGroup]="user">
      <div class="row">

        <div class="col-sm-6">
          <mat-form-field appearance="standard">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="first_name" required>
            <mat-error *ngIf="user.controls['first_name'].invalid">{{getfirst_name()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field appearance="standard">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last_name" required>
            <mat-error *ngIf="user.controls['last_name'].invalid">{{getlast_name()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="user.controls['email'].invalid">{{getemail()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" required>
            <mat-error *ngIf="user.controls['password'].invalid">{{getpassword()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <mat-form-field appearance="standard">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirm_password" required>
            <mat-error *ngIf="user.controls['confirm_password'].invalid">{{getconfirm_password()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="d-grid">
        <button mat-raised-button color="warn">Submit</button>
      </div>

      <div class="content">
        Already have an account? <a routerLink="/login">Login</a>
      </div>

    </form>

  </div>
</div>

